@charset "UTF-8";

$path: "../img/";
$key: #434343;
$sub_0: #ffffff;
$sub_1: #f2f2f2;
$sub_2: #dadada;
$sub_3: #999999;
$sub_4: #666666;



body {
    font-size: 12px;
    letter-spacing: 1.2px;
    //position: relative;
    color: $key;
    background: $sub_0;
    padding-bottom: 40px;
    -webkit-text-size-adjust: 100%;
    * {
        box-sizing: border-box;
    }
}
@import "parts/_00_reset.scss";
