@charset "UTF-8";

$path: "../img/";
$key: #333333;
$sub: #ffffff;
$bg-01: #666666;
$bg-02: #888888;
$bg-03: #aaaaaa;
$bg-04: #333333;

$pc: 768px; // PC
$tab: 600px;  // TAB

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}

@import "parts/_reset.scss";
@import "parts/_00_body.scss";
@import "parts/_01_header.scss";
@import "parts/_02_mainvisual.scss";
@import "parts/_03_menu.scss";
@import "parts/_04_contents.scss";
@import "parts/_05_footer.scss";
@import "parts/_98_module.scss";
@import "parts/_99_config.scss";