body {
    //background-color: #eee;
    font-size: 14px;
    @include tab {
        font-size: 16px;
    }
    letter-spacing: 1.2px;
    line-height: 1.6;
    color: $key;
    -webkit-text-size-adjust: 100%;
    * {box-sizing: border-box;}
    .wrapper {
        width: 100%;
        margin: 0 auto;
        .bg-01 {background-color: $bg-01;}
        .bg-02 {background-color: $bg-02;}
        .bg-03 {background-color: $bg-03;}
    }
    .inner {
        max-width: 1000px;
        margin: 0 auto;
    }
}